<div class="card-wrapper">
  <mat-card class="dinosaurs" *ngFor="let dinosaur of dinosaurs">
    <mat-card-header class="display-header">
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{dinosaur.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{dinosaur.image}}" alt="{{dinosaur.name}}">
    <mat-card-actions class="likes">
      <button mat-stroked-button>Like</button>
    </mat-card-actions>
  </mat-card>
</div>

<label class="error-message">{{errorMsg}}</label>
