.list-dinosaurs {
  font-size: medium;
  font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  color: #336699;
}

.error-message {
  font-family: Consolas, monaco, monospace;
  font-size: small;
  color: darkblue;
}
